<% include ./partials/header.ejs %>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><strong>KYURETA</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/user">Home</a></li>
      <li><a href="/user/chef">Chefs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h2><strong>Chefs</strong></h2>
  </div>
  <div class="row table-responsive">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>Chef Name</th>
          <th>Cuisine</th>
          <th>Flagship Restaurant & Location</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% allChefs.forEach(function(chef) { %>
          <tr>
            <td><%= chef.name %></td>
            <td><%= chef.cuisine %></td>
            <td><%= chef.restaurant %></td>
            <td><a class="btn btn-primary btn-large" href="/user/chef/<%=chef._id%>/recipe" role="button">View Recipes</a></td>

            <% if (chef.user.id == currentUser._id) { %>
            <td><form method="GET" action="/user/chef/<%=chef._id%>/edit">
              <button type="submit" class="btn btn-warning  btn-large">Edit</button>
            </form></td>
            <td><form method="POST" action="/user/chef/<%=chef._id%>?_method=DELETE">
              <button type="submit" class="btn btn-danger btn-large">Delete</button>
            </form></td>
            <% } else { %>
              <td></td>
              <td></td>
            <% } %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <a class="btn btn-success btn-large" href="/user/chef/new" role="button">Add New Chef</a>
  </div>
</div>

<% include ./partials/footer.ejs %>
